.header{background-color: cornflowerblue;
    height: 100px; 
  }
li {list-style:none;
  float:left;
  }
  body {margin:0;
        padding:0;}

/*ボタン*/
a.btn--green.btn--emboss {
  color:whitesmoke;
  text-shadow: -1px -1px 1px #00ff71;
  border-bottom: 5px solid whitesmoke;
}

a.btn--green.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid whitesmoke;
}

.fa-position-right {
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
}
.logo1{color:whitesmoke;font-size:larger;}
.logo2{color:antiquewhite;}
.logo3{color:whitesmoke;}
/*コンテンツ*/
.contents {height:1000px;}
/*フッター*/
.footer {background-color:#296fb4;
  height: 50px;
  color:white;
  margin: 0px;
 
  
}
div.header ui.header-list li {padding-left: 50px;font-size: large;}
div.contents form{padding-top: 20px;}
.header div h1 {
  margin: 0px;
}
